<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="successBody">
    <div class="container">
        <header>
            <h1>Congratulation! you successfully bypassed security</h1><br>
        </header>

        <main>
            <p><b>remember:</b> {{learned}}</p>
            <text class="newCreds">{{newCreds}}</text><br>
            <p>come back to <a href="/">home</a> and click on the next level</p>
            <!-- <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="gg" width="400" height="400"> -->
        </main>
    </div>
    
    
    
</body>
</html>